#heading {
    text-align: center;
    align-items: center;
    color: black;
    text-shadow: 1px 1px gray;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: green;
    transition: 0.2s;
    border: 1px solid black;
    color: black;
}

.btn:hover {
    width: 110px;
    background-color: darkgreen;
}